/*BASE MARIVI*/
:root {
    --blue: #244BA5;
    --gradientblue: #244ba581;
    --yellow: #FEC67C;
    --red: #F0645B;
    --black: #000000;
    --white: #FFFFFF;
}

h2 {
    font-family: "Truculenta", serif;
    font-optical-sizing: auto;
    font-weight: 700 !important;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    font-size: 2em !important;
    color: var(--blue) !important;
}

h3 {
    font-family: "Kulim Park", serif;
    font-weight: 700;
    font-style: normal;

}

p {
    font-family: "Kulim Park", serif;
    font-weight: 400;
    font-style: normal;
}

section, header, footer {
    padding: 2em;
}

.navbar {
    font-family: "Kulim Park", serif;
    font-weight: 700;
    font-style: normal;
}

/*SI NO FUNCIONA BORRAR DIRECTAMENTE*/
.navbar-collapse {
    padding: 8.3em 0;
    margin: 0 -11.9px -8.8px -11.9px;;
    background-color: var(--red);
    width: 100%;
    position: relative;
}

.navbar .navbar-collapse .navbar-nav .nav-item a {
    /*color: var(--blue);*/
    color: var(--yellow);
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: none !important;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.border-top {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--yellow) !important;
}

.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--yellow) !important;
}

a.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Truculenta';
    font-size: 2em;
}

header {
    /*background-color: var(--blue);*/
    background-image: url(/media/img/header-pic.jpg);
    background-size: cover;
    background-color: var(--gradientblue);
    height: 100vh;
    width: 100%;
}

header img {
    width: 100%;

}

/*header > div {
    background-color: var(--gradientblue);

}*/

header #gradient{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 5.2em;
    left: 0;
    background-color: var(--gradientblue);
    z-index: 4;
    border-bottom: solid var(--red) 10px;
}

header .container {
    position: relative;
    z-index: 10;
}

header h1 {
    font-family: "Truculenta", serif;
    font-optical-sizing: auto;
    font-weight: 700 !important;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    color: var(--white);
    font-size: 5em !important;
    margin-top: 0.7em;
}

.round {
    border-radius: 30px !important;
}

#novedades .box {
    background-color: var(--yellow);
    padding-bottom: 2em;
}

#novedades p {
    margin-bottom: -7px;
    padding-top: 1em;
}

#novedades h3 {
    font-size: 4em;
    font-weight: 900;
    color: var(--red);
    margin-top: 0.1em;
    line-height: 0.9;
}

#novedades img {
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#novedades img {
    width: 115px;
    height: auto;
    transform: translatey(-100px);
    position: absolute;
    right: 2em;
}

/* XIANG */

/* CARTATA */
#carta h3, #carta p {
    font-weight: 900;
}

#carta h3 {
    color: var(--white);
}

#carta p {
    color: var(--yellow);
}

#carta .cartataBackground {
    background-color: var(--blue);
    margin-top: 2em;
    border-radius: 25px !important;
    padding-bottom: 4em;
}

#carta .card-background {
    background-color: transparent;
    border: none !important;
    border-radius: 0 !important;
    position: relative;
    padding-top: 5em;
    overflow: hidden;
}

#carta .card-background::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    border-bottom: 3px solid var(--yellow);
}

#carta button {
    font-family: "Kulim Park", serif;
    /*SE ESTABA PONIENDO LA DE POR DEFECTO SO- AÑADÍ ESTO -MARIVI*/
}

.imgComida {
    z-index: 2;
    transition: transform 0.3s ease;
    /* max-height: 150px; */
    height: 150px;
    object-fit: contain;
}

#carta .card-background:hover .imgComida {
    transform: translateY(-20%) scale(1.1);
}

.imgCirculo {
    width: 150px !important;
    height: 150px !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    position: absolute;
    z-index: 1;
}

/* MODALES */
.modalFondo {
    background-color: var(--red) !important;
    border-radius: 30px !important;
    margin: 0 1.5rem;
}

.modalTitulo {
    color: var(--white);
}

.modalTexto p {
    color: var(--white);
}

.modalHeader {
    border-bottom: 3px solid var(--yellow) !important;
}

.iconCerrar {
    font-size: 1.5rem;
    color: var(--white);
}

/* SLIDESHOW */

#polaroids {
    padding: 0;
}

.polaroids {
    width: 100%;
}

.swiper {
    width: 100%;
    padding: 3.5rem 0 5rem 0;
}

.swiper-slide {
    position: relative;
    width: 190px;
    height: 190px;
    overflow: visible;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.swiper-slide:nth-child(2n) {
    transform: rotate(-7deg);
}

.swiper-slide:nth-child(2n + 1) {
    transform: rotate(7deg);
}

.swiper-slide:nth-child(3n + 1) img {
    border: 8px solid var(--blue);
}

.swiper-slide:nth-child(3n + 2) img {
    border: 8px solid var(--red);
}

.swiper-slide:nth-child(3n + 3) img {
    border: 8px solid var(--yellow);
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-sizing: border-box;
    border-radius: 25px;
}

/* .swiper-slide-active {
    transform: none;
} */

.swiper-slide-active:nth-child(2n),
.swiper-slide-active:nth-child(2n + 1) {
    transform: rotate(0) scale(1.35);
    z-index: 1;
}

/* PUNTITOS */
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--red);
    transition: all 0.3s ease;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    width: 20px;
    height: 12px;
    background-color: var(--red);
    opacity: 1; 
    border-radius: 50px;
}

/* FAQ */
#FAQ {
    padding-top: 0;
    /*AÑADI ESTO PARA QUE NO QUEDE TANTO ESPACIO -MARIVI*/
}

.h3Faq {
    font-family: "Kulim Park", serif;
    font-weight: 700;
    font-style: normal;
    gap: 15px;
    justify-content: center !important;
}

.accordion {
    --bs-border-radius: 30px;
}

.acordeonRes {
    font-family: "Kulim Park", serif;
    font-size: 0.9em;
}

.last {
    --bs-border-radius: 30px;
}

.acordeonHeader {
    color: white !important;
    border-radius: 30px !important;
    opacity: 1 !important;
}

.accordion-button:not(.collapsed){
    background-color: var(--blue) !important;
}

.accordion-button {
    background-color: var(--blue) !important;
    color: var(--white) !important;
}

.acordeonRes {
    background-color: var(--yellow) !important;
}

.acordeonRes2 {
    background-color: var(--yellow) !important;
    border-bottom-right-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
}

.accordion-button::after {
    display: none !important; /* Esto elimina la flecha del acordeón */
}

/* CARRUSEL */
@media (min-width: 670px) {
    .swiper {
        padding: 3.5rem 0 6.5rem 0;
    }
    .swiper-slide {
        width: 300px;
        height: 300px;
    }
}

/*MARIVI*/

.pic img {
    border-radius: 100px;
    border: solid var(--white) 7px;
    object-fit: cover;
}

.review {
    padding: 1em;
    padding-top: 2em;
    margin-top: -1.5em;
}

.review h3 {
    font-weight: 600;
}

.review div:last-child h3 {
    font-size: 1.2em;
}

.text-review {
    margin-top: 1em;
}

#rev-yellow {
    background-color: var(--yellow);
}

#rev-yellow .fa-star, #rev-yellow div:last-child a {
    color: var(--red);
}

#rev-yellow div:last-child a {
    text-decoration: none;
}

#rev-red {
    background-color: var(--red);
}

#rev-red p, #rev-red h3 {
    color: var(--white);
} 

#rev-red .fa-star, #rev-red div:last-child a {
    color: var(--yellow);
}

#rev-red div:last-child a {
    text-decoration: none;
}

#rev-blue {
    background-color: var(--blue);
}

#rev-blue p, #rev-blue h3 {
    color: var(--yellow);
} 

#rev-blue .fa-star, #rev-blue div:last-child a {
    color: var(--red);
}

#rev-blue div:last-child a {
    text-decoration: none;
}

#catering form {
    background-color: var(--yellow);
    padding: 2em;

    font-family: "Kulim Park", serif;
    font-size: 0.9em;
}

#catering form h3 {
    font-size: 1.2em;
    font-weight: 900;
    color: var(--blue);
    margin-bottom: 1em;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--red) !important;
    --bs-btn-border-color: var(--red) !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--red) !important;
    --bs-btn-hover-border-color: var(--red) !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--red) !important;
    --bs-btn-active-border-color: var(--red) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--red) !important;
    --bs-btn-disabled-border-color: var(--red) !important;
}

footer {
    background-color: var(--blue);
    /*mientras cambiamos el color a blanco*/
}

footer img {
    width: 75%;
}

footer li {
    color: var(--white);
    font-weight: 500;
}

footer .navbar-nav .nav-item .nav-link {
    font-size: 1.5em;
}

.redes {
    margin-top: 1em !important;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.redes li {
    font-family: "Kulim Park", serif;
    font-style: italic;
    color: var(--white);
}

.redes .red {
    text-decoration: none;
    color: var(--white);
}

/* Irene */
html {
    cursor: url("../media/cursor.png"), auto;
}

#model{
    width: 100%;
    height: 50vh;
}

#mapa-div{
    width: 80vw;
    height: 40vh;
    margin: 0 auto;
    border-width: 8px;
    border-style: solid;
    border-color: var(--red);
    border-radius: 30px;
}

#mapa{
    width: 100%;
    height: 100%;
    border-radius: 22px;
}

.mapa-desc{
    font-size: 2rem;
    color: var(--red);
    margin-top: 1rem;
}

/* MARIVI (ARREGLOS DE COSAS)*/

#model-div {
    width: 100%;
    height: auto;
}

